<nav class="bg-white shadow-md overflow-auto">
    <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
        <div class="h-16 flex justify-between items-center">
            <div>

            </div>
            <div class="hidden md:flex items-center space-x-4">
                <button
                        routerLink="order"
                        [class.active]="isActive('order')"
                        class="nav-button mx-2">
                    Sales Orders
                </button>
                <button
                        routerLink="shop"
                        [class.active]="isActive('shop')"
                        class="nav-button mx-2">
                    Customers
                </button>
            </div>

            <div>
                <button type="button" class="button-blue">
                    Exit
                </button>
            </div>
        </div>
    </div>
</nav>
