<div class="main">
    <div class="overflow-x-auto">

        <div class="flex flex-nowrap items-center space-x-2 overflow-x-auto pb-4 bg-white w-full">
            <!-- Dropdown menu -->
            <div class="flex-shrink-0">
                <select id="type" class="selectField focus:ring-gray-100  focus:border-gray-300  w-full"

                        name="visitorType">
                    <option selected hidden value="">Type</option>
                    <option value="requested">Requested</option>
                    <option value="walk_in">Walk-in</option>
                    <option value="">All</option>
                </select>
            </div>
            <!-- Search Field -->
            <div class="relative  sm:w-auto ">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="table-search"

                       class="focus:ring-gray-100  focus:border-gray-300 p-2.5  block w-full pl-10 pr-3 py-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
                       placeholder="Name or NIC">
            </div>
            <div class="flex-shrink-0">
                <button type="submit"  class="button-blue  inline-flex items-center whitespace-nowrap">
                    <svg class="w-4  h-5 sm:mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="hidden sm:inline">Search</span>
                </button>
            </div>
        </div>

        <div class="table-wrapper overflow-x-auto">
            <table class="table">
                <thead class="table-thead">
                <tr>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Company</th>
                    <th scope="col" class="px-6 py-3">Contact No</th>
                    <th scope="col" class="px-6 py-3">NIC | Passport</th>
                    <th scope="col" class="px-6 py-3">Contact Person</th>
                    <th scope="col" class="px-6 py-3">Purpose</th>
                    <th scope="col" class="px-6 py-3">Requested Date</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>

                </thead>
                <tbody>

                            <tr class="bg-white border-b">
                                <td class="px-6 py-4">name</td>
                                <td class="px-6 py-4">company</td>
<!--                                <td class="px-6 py-4">{{ visitor.contactNo }}</td>-->
<!--                                <td class="px-6 py-4">{{ visitor.nicNo }}</td>-->
<!--                                <td class="px-6 py-4">{{ visitor.contactPerson }}</td>-->
<!--                                <td class="px-6 py-4">{{ visitor.purpose }}</td>-->
<!--                                <td class="px-6 py-4">-->
<!--                                    {{ visitor.reqDate + ' ' + visitor.reqTime | date:'yyyy-MM-dd - h:mm a' }}-->
<!--                                </td>-->
<!--                                <td class="px-6 py-4"><span class="status-badge"-->
<!--                                                            [ngClass]="visitor.status.toLowerCase()">{{ visitor.status }}</span>-->
<!--                                </td>-->
<!--                                <td class="px-6 py-4">-->
<!--                                    <svg width="20" height="20" class="cursor-pointer" viewBox="0 0 20 20" fill="none"-->
<!--                                         xmlns="http://www.w3.org/2000/svg" (click)="(this.openModal = true); handleClick(visitor.id||0)">-->
<!--                                        <path-->
<!--                                                d="M11 14H10V10H9M10 6H10.01M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"-->
<!--                                                stroke="#1C64F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                                    </svg>-->
<!--                                </td>-->
                            </tr>

<!--                    } @else {-->
<!--                        <tr>-->
<!--                            <td colspan="9" class="px-6 py-10">-->
<!--                                <div class="flex flex-col items-center justify-center text-center">-->
<!--                                    <p class="text-xl font-semibold text-gray-700 mb-2">No visitors found</p>-->
<!--                                    <p class="text-gray-500">We couldn't find any  visitors that match your-->
<!--                                        search criteria.</p>-->
<!--                                    <button-->
<!--                                            class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out">-->
<!--                                        Clear Search-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    }-->
                </tbody>
            </table>
        </div>
<!--        <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"-->
<!--                        (pageChanged)="onPageChange($event)"></app-pagination>-->
    </div>
</div>